body{
    background-color: #0f1228;
    overflow-x: hidden;
    color: #e7e9f0;
    font-family: 'Lato', sans-serif;
}

.head-title{
    display: flex;
    transition: font-size 1s;
    flex-direction: column;
    justify-content: center;
    color: bisque;
    align-items: center;
    font-family: cursive;
}

.head-title-expanded {
    font-size: 12px;
}

.head-title-contracted {
    font-size: 6px;
}